/* .jumbotron {
    background-color: white;
    color: #fff;
    padding: 100px 25px;
    font-family: Segoe Script;
    
}
.navbar {
    margin-bottom: 0;
    font-family: 'Ranga', cursive;
    font-size: 40px;
}
*{
    background-color:white;
    background-size: cover;
} */
*{
    font-family: 'Acme', sans-serif;
}